@using CookApp.BLL.Dtos.UserManagementDto
@model IEnumerable<UserDto>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 250px;
            background-color: #333;
            color: white;
            padding: 20px;
            box-sizing: border-box;
        }

            .sidebar a {
                display: block;
                color: white;
                text-decoration: none;
                padding: 10px 0;
            }

                .sidebar a:hover {
                    background-color: #555;
                }


        .content {
            margin-left: 250px;
            flex: 1;
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <a href="/Home">
                <img src="/images/logo.svg" alt="Grilli - Home">
            </a>
        </div>
        @Html.ActionLink("Home", "Index", "Admin", null, new { @class = "nav-link text-white" })
        @Html.ActionLink("Manage Users", "Index", "ManageUsers", null, new { @class = "nav-link text-white" })
        @Html.ActionLink("Manage Roles", "Index", "ManageRoles", null, new { @class = "nav-link text-white" })
        @Html.ActionLink("Products", "Index", "Products", null, new { @class = "nav-link text-white" })
        @Html.ActionLink("Orders", "Index", "Orders", null, new { @class = "nav-link text-white" })
        @Html.ActionLink("Reservations", "Reservations", "Reservation", null, new { @class = "nav-link text-white" })
    </div>
    <div class="content">
        <h1>@ViewData["Title"]</h1>
    
    </div>
</body>
</html>
